In [7]:
import pandas as pd
import numpy as np

In [8]:
pwd

'/Users/confade/Documents/git/usted_compraria'

In [9]:
df = '/Users/confade/Documents/git/usted_compraria/Usted_compraria.csv'

In [10]:
df_1 = pd.read_csv(df)

In [11]:
df_1.head()

,ID,Edad,Genero,Vive,Vive_2,Ocupacion,Ocupacion.1,compraria_sexo,Compraria_2,Precio_bs,Material,color,Tipo
0,1,21,0,Zona Norte,2,Universitario,1,0.0,1,70,1,Negro,0
1,2,22,0,Zona Norte,2,Universitario,1,0.0,1,60,1,Plomo,0
2,3,23,0,Zona Norte,2,Universitario,1,0.0,1,70,1,Plomo,1
3,4,23,0,Zona Central,1,Universitario,1,0.0,1,60,0,Negro,1
4,5,24,0,Zona Sur,3,Universitario,1,0.0,1,100,0,Negro,1

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression